<mat-card>
    <table>
        <tr>
            <td>      <img [src]="user?.Image" style="margin-top:-50%" >   </td>
            <td></td>
   <td>
      <h4><strong>RS:</strong>{{user?.Rs}}</h4>
      <h4><strong>Adresse:</strong>{{user?.Adresse}}</h4>
      <h4><strong>Telephone:</strong> {{user?.Tel}}</h4>
      <h4><strong>Fax:</strong> {{user?.Fax}}</h4>
      <h4><strong>Email:</strong>{{user?.Email}}</h4>
      <h4><strong>Site:</strong>{{user?.Site}}</h4>
      <h4><strong>Matfiscale:</strong>{{user?.Matfiscale}}</h4>
   </td>
        </tr>
        <tr>
            <td></td>
            <td>            <button class="btn btn-warning" (click)="openDialog(user?.ID)"> Edit</button>
            </td>
        </tr>
    </table>

</mat-card>
