<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <mat-card><button mat-raised-button class="btn btn-success" (click)="openDialog()">Ajoute compte</button>
            <table >
                <th>
                    compte ID
                </th>
                <th>
                    compte RIB
                </th>
                <th>banque</th>
                <tr  *ngFor="let compte of comptes"  >
                    <td>{{compte?.ID}}</td>
                    <td >{{compte?.RIB}}</td>

                    <td >{{compte?.banque?.libelle}}
                        </td>
                </tr>
            </table>

        </mat-card>



    </body>
</html>
