// shared css for the login and signup page
@import "../login/login.component.scss";
.image-preview {
    height: 5rem;
    margin: 1rem 0 ;
}
.image-preview img{
    height: 100%;
}
small {
    color: red;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
  }
  mat-card{
      background-color: white;
      height: 5rem;
    margin: 1rem 0 ;
    height: 100%;

  }
