<div class="container" (submit)="ajoute()" [formGroup]="form">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <h4 class="alert " *ngIf="msg !=null" [ngClass]="{'alert-success':ok,'alert-danger':ok==false}">{{msg}}</h4>

        </div>

    </div>
      <div role="form" class="row">

          <div class="col-md-2 ">
          </div>
          <div class="col-md-4">

              <mat-form-field hintLabel="Max 8 characters" appearance="fill">
                  <mat-label>Cin</mat-label>
                  <input maxlength="number" minlength="number" minlength=8 maxlength=8 formControlName="Cin" matInput
                      #input required placeholder="Ex. Nougat">

                  <mat-error *ngIf="form.get('Cin').hasError('required')">
                      Cin is <strong>obligatoire</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('Cin').hasError('minlength')">
                      Le cin doit comporter au moins 8 caractères.
                  </mat-error>


                  <mat-error *ngIf="form.get('Cin').hasError('pattern')">
                      Le cin doit content que des number.
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Nom</mat-label>
                  <input matInput required formControlName="Nom">
                  <mat-error *ngIf="form.get('Nom').hasError('required')">
                      Nom est <strong>obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Prenom</mat-label>
                  <input matInput required formControlName="Prenom">
                  <mat-error *ngIf="form.get('Prenom').hasError('required')">
                      Prenom est <strong>obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>



          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Date de naissance </mat-label>
                  <input matInput type="date" formControlName="DateDeNaissance" required>
                  <mat-error *ngIf="form.get('DateDeNaissance').hasError('required')">
                      DateDeNaissance est <strong>obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Adresse</mat-label>
                  <input matInput required formControlName="Adresse">
                  <mat-error *ngIf="form.get('Adresse').hasError('required')">
                      Adresse est <strong>obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Telephone </mat-label>
                  <input formControlName="Tel" maxlength="number" minlength="number" minlength=8 maxlength=8 matInput
                      required>
                  <mat-error *ngIf="form.get('Tel').hasError('required')">
                      Telephone est <strong>obligatoire</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('Tel').hasError('minlength')">
                      Le Telephone doit comporter au moins 8 caractères.
                  </mat-error>
                  <mat-error *ngIf="form.get('Tel').hasError('pattern')">
                      Le Telephone doit content que des number.
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Fax</mat-label>
                  <input formControlName="Fax" maxlength="number" minlength="number" minlength=8 maxlength=8 matInput
                      required>

                  <mat-error *ngIf="form.get('Fax').hasError('required')">
                      Fax est <strong>obligatoire</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('Fax').hasError('minlength')">
                      Le Fax doit comporter au moins 8 caractères.
                  </mat-error>
                  <mat-error *ngIf="form.get('Fax').hasError('pattern')">
                      Le Fax doit content que des number.
                  </mat-error>
              </mat-form-field>

          </div>

          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="Email" required placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="form.get('Email').hasError('email') && !form.get('Email').hasError('required')">
                      S'il vous plaît, mettez une adresse email valide
                  </mat-error>
                  <mat-error *ngIf="form.get('Email').hasError('required')">
                      Email est <strong>obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>NumCNSS </mat-label>
                  <input matInput formControlName="NumCNSS" required>




                  <mat-error *ngIf="form.get('NumCNSS').hasError('pattern')">
                      Le NumCNSS doit content que des number.
                  </mat-error>
              </mat-form-field>
          </div>


          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Situation familialle</mat-label>
                  <select matNativeControl formControlName="SituationFamilialle" required>
                      <option value="marié">marié </option>
                      <option value="pacsé">pacsé </option>
                      <option value="divorcé">divorcé </option>
                      <option value="séparé">séparé</option>
                      <option value="célibataire">célibataire </option>
                      <option value="veuf">veuf </option>

                  </select>
                  <mat-error *ngIf="form.get('SituationFamilialle').hasError('required')">
                      Situation Familialle est <strong>obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">
              <mat-form-field appearance="fill">
                  <mat-label>Login </mat-label>
                  <input matInput formControlName="Login" required>




                  <mat-error *ngIf="form.get('Login').hasError('required')">
                      Login est <strong>obligatoire</strong>
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="mode ==='create'">
              <mat-form-field appearance="fill">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="MotDePasse">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                  </button>
                  <mat-error *ngIf="form.get('MotDePasse').hasError('required')">
                      MotDePasse est <strong>obligatoire</strong>
                  </mat-error>
                </mat-form-field>

          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">
              <button type="button" class="btn btn-warning" style="margin-bottom: 10px;" (click)="filePicker.click()"
                  *ngIf='imagePreview ==null'>Copier de permis
              </button>
              <button type="button" class="btn btn-warning" style="margin-bottom: 10px;" (click)="supprimercopierpermis()"
                  *ngIf='imagePreview !=null'>Supprimer Copier de permis</button>
          </div>



          <div class="col-md-4">
              <input type="file" #filePicker (change)="onImagePicked($event)" style="visibility: hidden;">
              <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('CopierPermis').valid">
                  <img [src]="imagePreview" [alt]="form.value.title">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-4">
              <button type="button" class="btn btn-warning" style="margin-bottom: 10px;" (click)="filePickerpersonnel.click()"
                  *ngIf='imagePreviewpersonnel ==null'>Personnel Image
              </button>
              <button type="button" class="btn btn-warning" style="margin-bottom: 10px;" (click)="supprimerimagepersonnel()"
                  *ngIf='imagePreviewpersonnel !=null'>Supprimer Personnel Image</button>
          </div>



          <div class="col-md-4">
              <input type="file" #filePickerpersonnel (change)="imagepersonnel($event)" style="visibility: hidden;">
              <div class="image-preview" *ngIf="imagePreviewpersonnel !== '' && imagePreviewpersonnel && form.get('Image').valid">
                  <img [src]="imagePreviewpersonnel" >
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"> <button class="btn btn-primary" (click)="ajoute()">enregistre</button></div>
      </div>


  </div>

