<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular8</h1>
            <form role="form" #loginform="ngForm" (submit)="connexion(loginform)">
                <h4 class="alert " *ngIf="message !=null" [ngClass]="{'alert-success':etat,'alert-danger':etat==false}">{{message}}</h4>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name"
                        ngModel name="login" #login="ngModel"
                        class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password"
                        ngModel name="MotDePasse" #MotDePasse="ngModel"
                        class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit">{{ 'Log in' | translate }}</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
