<div class="row justify-content-md-center">
    <div class="col-md-4">
          <div>

                <h4 class="alert " *ngIf="message !=null" [ngClass]="{'alert-success':etat,'alert-danger':etat==false}">{{message}}</h4>

              </div>
        <form role="form"  [formGroup]="formsociete" (submit)="editsociete()" *ngIf="Userfunction=='Societe'" >


            <div class="form-content">
                <div class="form-group">
                    <label >RS :</label>
                    <input type="text" class="form-control input-underline input-lg"
                    formControlName="Rs"
                    id="" placeholder="{{ 'Rs' | translate }}">
<div *ngIf="formsociete.get('Rs').hasError('required')&&formsociete.get('Rs').touched">
                   <small>  RS est <strong>obligatoire</strong>
                   </small>
                </div>
                </div>


                <div class="form-group">
                    <label >Adresse</label>
                    <input type="text"
                    formControlName="Adresse"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Adresse' | translate }}">
                    <div *ngIf="formsociete.get('Adresse').hasError('required')&&formsociete.get('Adresse').touched">
                        <small>  Adresse est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Telephone</label>
                    <input type="tel"
                    formControlName="Tel"
                    minlength="8"
                    maxlength="8"

                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Tel' | translate }}">
                    <div *ngIf="formsociete.get('Tel').hasError('required')&&formsociete.get('Tel').touched">
                        <small>  Tel est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formsociete.get('Tel').hasError('minlength')&&formsociete.get('Tel').touched">
                        <small>  Le Tel doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formsociete.get('Tel').hasError('pattern')&&formsociete.get('Tel').touched">
                        <small>                      Le Tel doit content que des number.

                        </small>
                     </div>

                </div>
                <div class="form-group">
                    <label >Fax</label>
                    <input type="tel"
                    formControlName="Fax"
                    minlength="8"
                    maxlength="8"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Fax' | translate }}">
<div *ngIf="formsociete.get('Fax').hasError('required')&&formsociete.get('Fax').touched">
                        <small>  Adresse est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formsociete.get('Fax').hasError('minlength')&&formsociete.get('Fax').touched">
                        <small>  Le Fax doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formsociete.get('Fax').hasError('pattern')&&formsociete.get('Fax').touched">
                        <small>                      Le Fax doit content que des number.

                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email"
                    formControlName="Email"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    <div *ngIf="formsociete.get('Email').hasError('required')&&formsociete.get('Email').touched">
                        <small>  Email est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formsociete.get('Email').hasError('email')&&formsociete.get('Email').touched">
                        <small>   S'il vous plaît, mettez une adresse email valide

                        </small>
                     </div>

                </div>
                <div class="form-group">
                    <label >Site</label>
                    <input type="text"
                    formControlName="Site"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Site' | translate }}">
                    <div *ngIf="formsociete.get('Site').hasError('required')&&formsociete.get('Site').touched">
                        <small>  Site est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label > Matfiscale</label>
                    <input type="text"
                    formControlName="Matfiscale"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Matfiscale' | translate }}">
                    <div *ngIf="formsociete.get('Matfiscale').hasError('required')&&formsociete.get('Matfiscale').touched">
                        <small>  Matfiscale est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Login</label>
                    <input type="text"
                    formControlName="Login"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'login' | translate }}">
                    <div *ngIf="formsociete.get('Login').hasError('required')&&formsociete.get('Login').touched">
                        <small>  Login est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>




            </div>

            <button class="btn rounded-btn btn-warning" (submit)="editsociete()"><mat-icon>edit</mat-icon> {{ 'Edit' | translate }}</button>&nbsp;
        </form>
        <form role="form"  [formGroup]="formclient" (submit)="editclient()" *ngIf="Userfunction=='Client'">
            <div class="form-content">
                <div class="form-group">
                    <label >RS</label>
                    <input type="text" class="form-control input-underline input-lg"
                    formControlName="Rs"
                    id="" placeholder="{{ 'Rs' | translate }}">
                    <div *ngIf="formclient.get('Rs').hasError('required') && formclient.get('Rs').touched">
                        <small>  RS est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>

                <div class="form-group">
                    <label >Adresse</label>
                    <input type="text"
                    formControlName="Adresse"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Adresse' | translate }}">
                    <div *ngIf="formclient.get('Adresse').hasError('required')&& formclient.get('Adresse').touched">
                        <small>  Adresse est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Telephone</label>
                    <input type="tel"
                    formControlName="Tel"
                    minlength="8"
                    maxlength="8"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Tel' | translate }}">
                    <div *ngIf="formclient.get('Tel').hasError('required')&& formclient.get('Tel').touched">
                        <small>  Tel est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formclient.get('Tel').hasError('minlength')&& formclient.get('Tel').touched">
                        <small>  Le Tel doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formclient.get('Tel').hasError('pattern')&& formclient.get('Tel').touched">
                        <small>                      Le Tel doit content que des number.

                        </small>
                     </div>

                </div>
                <div class="form-group">
                    <label >Fax</label>
                    <input type="tel"
                    formControlName="Fax"
                    minlength="8"
                    maxlength="8"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Fax' | translate }}">
                    <div *ngIf="formclient.get('Fax').hasError('required')&& formclient.get('Fax').touched">
                        <small>  Fax est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formclient.get('Fax').hasError('minlength')&& formclient.get('Fax').touched">
                        <small>  Le Fax doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formclient.get('Fax').hasError('pattern')&& formclient.get('Fax').touched">
                        <small>                      Le Fax doit content que des number.

                        </small>
                     </div>

                </div>
                <div class="form-group">
                    <label >Email</label>
                    <input type="email"
                    formControlName="Email"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">

                    <div *ngIf="formclient.get('Email').hasError('required')&&formclient.get('Email').touched">
                        <small>  Email est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formclient.get('Email').hasError('email')&&formclient.get('Email').touched">
                        <small>   S'il vous plaît, mettez une adresse email valide

                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Site</label>
                    <input type="text"
                    formControlName="Site"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Site' | translate }}">
                    <div *ngIf="formclient.get('Site').hasError('required')&&formclient.get('Site').touched">
                        <small>  Email est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >NomPC</label>
                    <input type="text" class="form-control input-underline input-lg"
                    formControlName="NomPC"
                    id="" placeholder="{{ 'NomPC' | translate }}">
                    <div *ngIf="formclient.get('NomPC').hasError('required')&&formclient.get('NomPC').touched">
                        <small>  NomPC est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >PrenomPC</label>
                    <input type="text" class="form-control input-underline input-lg"
                    formControlName="PrenomPC"
                    id="" placeholder="{{ 'PrenomPC' | translate }}">
                    <div *ngIf="formclient.get('PrenomPC').hasError('required')&&formclient.get('PrenomPC').touched">
                        <small>  PrenomPC est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >TelPersonnelContact</label>
                    <input type="tel" class="form-control input-underline input-lg"
                    formControlName="TelPersonnelContact" minlength="8"
                    maxlength="8"
                    id="" placeholder="{{ 'TelPersonnelContact' | translate }}">
                    <div *ngIf="formclient.get('TelPersonnelContact').hasError('required')&& formclient.get('TelPersonnelContact').touched">
                        <small>  Tel est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formclient.get('TelPersonnelContact').hasError('minlength')&&  formclient.get('TelPersonnelContact').touched">
                        <small>  Le Tel doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formclient.get('TelPersonnelContact').hasError('pattern')&& formclient.get('TelPersonnelContact').touched">
                        <small>                      Le Tel doit content que des number.

                        </small>
                     </div>
                </div>
                  <div class="form-group">
                    <label >FaxPersonnelContact</label>
                    <input type="tel" class="form-control input-underline input-lg"
                    formControlName="FaxPersonnelContact" minlength="8"
                    maxlength="8"
                    id="" placeholder="{{ 'FaxPersonnelContact' | translate }}">
                    <div *ngIf="formclient.get('FaxPersonnelContact').hasError('required')&& formclient.get('FaxPersonnelContact').touched">
                        <small>  FaxPersonnelContact est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formclient.get('FaxPersonnelContact').hasError('minlength')&&  formclient.get('FaxPersonnelContact').touched">
                        <small>  Le FaxPersonnelContact doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formclient.get('FaxPersonnelContact').hasError('pattern')&& formclient.get('FaxPersonnelContact').touched">
                        <small>                      Le Fax Personnel Contact doit content que des number.

                        </small>
                     </div>
                </div>  <div class="form-group">
                    <label >AdresseEmailPersonnel</label>
                    <input type="text" class="form-control input-underline input-lg"
                    formControlName="AdresseEmailPersonnel"
                    id="" placeholder="{{ 'AdresseEmailPersonnel' | translate }}">
                    <div *ngIf="formclient.get('AdresseEmailPersonnel').hasError('required')&& formclient.get('AdresseEmailPersonnel').touched">
                        <small>  AdresseEmailPersonnel est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formclient.get('AdresseEmailPersonnel').hasError('email')&& formclient.get('AdresseEmailPersonnel').touched">
                        <small>   S'il vous plaît, mettez une adresse email valide

                        </small>
                     </div>
                </div>  <div class="form-group">
                    <label >MatFiscal</label>
                    <input type="text" class="form-control input-underline input-lg"
                    formControlName="Matfiscale"
                    id="" placeholder="{{ 'Matfiscale' | translate }}">
                    <div *ngIf="formclient.get('Matfiscale').hasError('required')&& formclient.get('Matfiscale').touched">
                        <small>  Matfiscale est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label>Regfiscale</label>
                    <input type="number" class="form-control input-underline input-lg"
                    formControlName="Regfiscale"
                    id="" placeholder="{{ 'Regfiscale' | translate }}">
                    <div *ngIf="formclient.get('Regfiscale').hasError('required')&& formclient.get('Regfiscale').touched">
                        <small>  Regfiscale est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Societe</label>
                    <select  class="form-control" formControlName="SocieteID" aria-placeholder="SituationFamilialle" required id="exampleFormControlSelect2" >
                        <option *ngFor="let societe of societes"  [value]="societe.ID">{{societe.Rs}} </option>

                      </select>
                      <div *ngIf="formclient.get('SocieteID').hasError('required')&& formclient.get('SocieteID').touched">
                        <small>  Societe est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Login</label>
                    <input type="text"
                    formControlName="Login"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'login' | translate }}">
                    <div *ngIf="formclient.get('Login').hasError('required')&& formclient.get('Login').touched">
                        <small>  Login est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>




            </div>
            <button class="btn rounded-btn" (submit)="editclient()">{{ 'Edit' | translate }}</button>&nbsp;
        </form>
        <form role="form"  [formGroup]="formpersonnel" (submit)="editpersonnel()" *ngIf="Userfunction=='Personnel'">
            <div class="form-content">
                <div class="form-group">
                    <label >Cin</label>
                    <input  class="form-control input-underline input-lg"
                    formControlName="Cin"
                    maxlength="number" minlength="number" minlength=8 maxlength=8
                    id="" placeholder="{{ 'Cin' | translate }}">
                    <div *ngIf="formpersonnel.get('Cin').hasError('required')&& formpersonnel.get('Cin').touched">
                        <small>  Cin est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formpersonnel.get('Cin').hasError('minlength')&& formpersonnel.get('Cin').touched">
                        <small>  Le Cin doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formpersonnel.get('Cin').hasError('pattern')&&  formpersonnel.get('Cin').touched">
                        <small>                      Le Cin doit content que des number.

                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Nom</label>
                    <input type="text"
                    formControlName="Nom"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Nom' | translate }}">
                    <div *ngIf="formpersonnel.get('Nom').hasError('required')&& formpersonnel.get('Nom').touched">
                        <small>  Nom est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label > Prenom</label>
                    <input type="text"
                    formControlName="Prenom"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Prenom' | translate }}">
                    <div *ngIf="formpersonnel.get('Prenom').hasError('required')&& formpersonnel.get('Prenom').touched">
                        <small>  Prenom est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label > DateDeNaissance</label>
                    <input type="date"
                    formControlName="DateDeNaissance"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'DateDeNaissance' | translate }}">
                    <div *ngIf="formpersonnel.get('DateDeNaissance').hasError('required')&& formpersonnel.get('DateDeNaissance').touched">
                        <small>  DateDeNaissance est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Adresse</label>
                    <input type="text"
                    formControlName="Adresse"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Adresse' | translate }}">
                    <div *ngIf="formpersonnel.get('Adresse').hasError('required')&& formpersonnel.get('Adresse').touched">
                        <small>  Adresse est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Telephone</label>
                    <input type="tel"
                    formControlName="Tel"
                    minlength="8"
                    maxlength="8"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Tel' | translate }}">

                    <div *ngIf="formpersonnel.get('Tel').hasError('required')&& formpersonnel.get('Tel').touched">
                        <small>  Tel est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formpersonnel.get('Tel').hasError('minlength')&& formpersonnel.get('Tel').touched">
                        <small>  Le Tel doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formpersonnel.get('Tel').hasError('pattern')&&  formpersonnel.get('Tel').touched">
                        <small>                      Le Tel doit content que des number.

                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Fax</label>
                    <input type="tel"
                    formControlName="Fax"
                    minlength="8"
                    maxlength="8"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Fax' | translate }}">

                    <div *ngIf="formpersonnel.get('Fax').hasError('required')&& formpersonnel.get('Fax').touched">
                        <small>  Fax est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formpersonnel.get('Fax').hasError('minlength')&& formpersonnel.get('Fax').touched">
                        <small>  Le Fax doit comporter au moins 8 caractères.
                        </small>
                     </div>
                     <div *ngIf="formpersonnel.get('Fax').hasError('pattern')&&  formpersonnel.get('Fax').touched">
                        <small>                      Le Fax doit content que des number.

                        </small>
                     </div>

                </div>
                <div class="form-group">
                    <label >Email</label>
                    <input type="email"
                    formControlName="Email"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    <div *ngIf="formpersonnel.get('Email').hasError('required')&& formpersonnel.get('Email').touched">
                        <small>  Email est <strong>obligatoire</strong>
                        </small>
                     </div>
                     <div *ngIf="formpersonnel.get('Email').hasError('email')&& formpersonnel.get('Email').touched">
                        <small>   S'il vous plaît, mettez une adresse email valide

                        </small>
                     </div>

                </div>

                <div class="form-group">
                    <label >NumCNSS</label>
                    <input type="number" formControlName="NumCNSS"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'NumCNSS' | translate }}">
                    <div *ngIf="formpersonnel.get('NumCNSS').hasError('pattern')&& formpersonnel.get('NumCNSS').touched">
                        <small>   Le Fax doit content que des number.
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >SituationFamilialle</label>
                    <select  class="form-control" formControlName="SituationFamilialle" aria-placeholder="SituationFamilialle" required id="exampleFormControlSelect2">
                        <option value="marié">marié </option>
                        <option value="pacsé">pacsé </option>
                        <option value="divorcé">divorcé </option>
                        <option value="séparé">séparé</option>
                        <option value="célibataire">célibataire </option>
                        <option value="veuf">veuf </option>
                      </select>
                      <div *ngIf="formpersonnel.get('SituationFamilialle').hasError('required')&& formpersonnel.get('SituationFamilialle').touched">
                        <small>  SituationFamilialle est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Societe</label>
                    <select  class="form-control" formControlName="SocieteID"  aria-placeholder="SituationFamilialle" required id="exampleFormControlSelect2" >
                        <option *ngFor="let societe of societes" [value]="societe.ID">{{societe.Rs}} </option>

                      </select>
                      <div *ngIf="formpersonnel.get('SocieteID').hasError('required')&& formpersonnel.get('SocieteID').touched">
                        <small>  Societe est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>
                <div class="form-group">
                    <label >Login</label>
                    <input type="text"
                    formControlName="Login"
                    class="form-control input-underline input-lg" id="" placeholder="{{ 'login' | translate }}">
                    <div *ngIf="formpersonnel.get('Login').hasError('required')&& formpersonnel.get('Login').touched">
                        <small>  Login est <strong>obligatoire</strong>
                        </small>
                     </div>
                </div>


            </div>
            <button class="btn rounded-btn" (submit)="editpersonnel()">{{ 'Edit' | translate }}</button>&nbsp;
        </form>
    </div>
</div>
