
  .coloredit {
    color: #FFD700;
  }
  .coloresupprimer{
      color: red;
  }
  th.mat-header-cell, td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}
th.mat-sort-header-sorted {
    color: red;
  }

button{
    margin-right: 2%;
}
.element-row:not(.expanded) {
    cursor: pointer;
  }
